html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: 'Open Sans', sans-serif;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.content{
  margin-left: 180px;
  overflow-x: hidden; 
}

.container{
  max-width: 1280px;
  padding:40px 100px;
}

.root{
  vertical-align: middle;
  text-align: center;
}

.root h1{
  margin-top: .5em;
  margin-bottom: .5em;
  font-size: 75px;
}

.loading-bar{
  margin-top: 4em;
}

.panel-list{
  margin-top: 20px;
}

.panel-wrapper{
  position: relative;
  display: inline-block;
  width: 10em;
  height:10em;
  background-color: #f6f6f6;
  font-size: 24px;
  text-align: center;
  margin:5px 5px 5px 5px;
  padding: 10px 10px 10px 10px;
}

.panel-header{
  margin-top:5px;
  margin-bottom: 5px;
  color:#000;
}
.panel-header h1{
  font-size:14px;
}

.panel-body{
  width:100%;
  font-size: 14px;
  color:#000;
}

.search-bar-container{
  vertical-align: middle;
}

input {
  font-size: 110%;
  outline: 0;
}

.search-bar-wrapper {
  vertical-align: middle;
}

@media screen and (min-width: 640px) {
  .search-bar-wrapper {
    min-width: 480px;
  }
}

.search-bar-field {
  position: relative;
}

.search-bar-input {
  -webkit-appearance: none;
  border: 1px solid #ddd;
  border-radius: 2px;
  box-sizing: border-box;
  margin: 0;
  padding: 10px 40px 10px 10px;
  width: 100%;
}

.has-suggestions .search-bar-input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.icon {
  background-position: center center;
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
  font-size: 0;
  height: 100%;
  outline: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 25px;
}

.search-bar-clear {
  background-image: url(./img/cancel.svg);
  background-size: 25%;
  right: 40px;
  width: 40px;
}

.search-bar-submit {
  background-color: #e5e5e5;
  background-image: url(../img/search.svg);
  background-size: 35%;
  border: 1px solid #ddd;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  padding: 0 20px;
  opacity: .8;
  width: 40px;
}

.search-bar-submit:hover {
  opacity: 1;
}

.is-focused .search-bar-input,
.is-focused .search-bar-submit {
  border-color: #ccc;
}

.search-bar-suggestions {
  border: 1px solid #ccc;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-sizing: border-box;
  font-size: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  top: -1px;
}

.search-bar-suggestions li {
  cursor: default;
  letter-spacing: 0.03em;
  padding: 12px 7px 12px 10px;
  -webkit-tap-highlight-color: transparent;
}

.search-bar-suggestions li:last-child {
  border: none;
}

.search-bar-suggestions .highlighted {
  background: #f5f5f5;
}

/* For the side bar */
.sidebar{
  float: left;
  position: fixed; 
  background-color: #3284BF; 
  height: 100%; 
  width: 260px; 
  border: 2px solid #3284BF;
}

.sidebar-title{
  color: white; 
  text-align: center; 
  font-size: 20px; 
  margin-top: 10px; 
  padding-bottom: 15px; 
  border-bottom: 2px solid white;
}

