html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  overflow-x:hidden;
  font-family: 'Avenir';
  vertical-align: baseline;
  transition: all .5s;

 /* F7CA18
  4183D7*/
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:hover{
  color:black;
  text-decoration: none;
}

.content{
  margin-left: 260px;
  overflow-x: hidden; 
/*  overflow-y: hidden; */
  background-color: #fff;
}

.container{
  max-width: 1280px;
}

.root{
  text-align: center;
}

.root h1{
  margin-top: .5em;
  margin-bottom: .5em;
  font-size: 75px;
}

.loading-bar{
  margin-top: 4em;
}

.hide {
  display:none!important;
}

.panels{
  vertical-align: center;
  top:3em;
  /*overflow: hidden;*/
  padding:2em 2em 2em 2em;
  position:relative;
}

.panel-list{
  margin-top: 20px;
}

.panel-wrapper{
  vertical-align: center;
  position: relative;
  display: inline-block;
  width: 12em;
  height:12em;
  /*background-color: #fff;*/
  background-color: #f7f7f7;
  font-size: 24px;
  text-align: center;
  margin:5px 5px 5px 5px;
  padding: 15px 15px 15px 15px;
}

.panel-header{
  margin-top:5px;
  margin-bottom: 5px;
  color:#000;
}
.panel-header h1{
  font-size:14px;
  overflow-y:hidden;
}

.panel-body{
  width:100%;
  font-size: 14px;
  color:#000;
}

.panel-website{
  padding:1em 1em 0 0;
}

.search-bar{
  height:3.5em;
  min-width: 280px;
  position:fixed;
  z-index: 10;
  margin-bottom: 3em;
  max-width: 900px;
  margin-left:1.5em;
  margin-right: 1.5em;
  padding-left: .5em;
  padding-right: .5em;
  color:#000;
  border: solid 2px #dcdcdc;
  font-size: 125%;
  outline: 0;
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  transition: box-shadow 0.3s, border 0.3s;
}
.search-bar:focus{
   border: solid 2px #3498DB;
  box-shadow: 0 0 1px 1px #4183D7;
}

.icon {
  background-position: center center;
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
  font-size: 0;
  height: 100%;
  outline: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 25px;
}

/* For the side bar */
.sidebar{
  float: left;
  position: fixed; 
  background-color: #4183D7; 
  height: 100%; 
  width: 260px; 
  border: 2px solid #4183D7;
}
/*#3284BF*/

.sidebar-title{
  color: white; 
  text-align: center; 
  font-size: 20px; 
  margin-top: 10px; 
  padding-bottom: 15px; 
  border-bottom: 2px solid white;
}

